 <!DOCTYPE html>
<html>
<head>
    <title>My Dashboard</title>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script>
    <script type="text/javascript" src="js/youtube.js"></script>
</head>
<body ng-app="dashApp" ng-controller="dashController">
    <div class="container">
        <div class="col-md-12 text-right">
            Hello {{username}}
        </div>
        <div class="clearfix"></div>
        <div class="col-md-3">
            <h2>My Library</h2>
            <div class="library">
                <div ng-repeat="x in userLib.userLib">
                    <h3>{{x.title}}</h3>
                    <iframe width="100%" src="{{ geturl(x.yt_url) }}" frameborder="0 " allowfullscreen></iframe>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <h2>Add to Library</h2>
            <div class="alert alert-danger" ng-show="error">{{error}}</div>
            <div class="alert alert-success" ng-show="success">{{success}}</div>
            <form name="libForm" ng-submit="submitLibForm()">
                <div class="form-group">
                    <label>Title</label>
                    <input type="text" name="title" class="form-control" ng-model="library.title" required>
                </div>
                <div class="form-group">
                    <label>YouTube URL/ID</label>
                    <input type="text" name="url" class="form-control" ng-model="library.youtubeurl" required>
                </div>
                <div class="form-group">
                    <label>Start Time</label>
                    <input type="number" name="stime" id="picker" class="form-control" ng-model="library.stime" placeholder="In seconds eg. 124" required>
                </div>
                <div class="form-group">
                    <label>End Time</label>
                    <input type="number" name="etime" class="form-control" ng-model="library.etime" placeholder="In seconds eg. 124" required>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
<script>
    var app = angular.module('dashApp', ['youtube-embed']);
    app.controller('dashController', function($scope, $http) {
        $scope.library = {};
        $http.get('ajax_calls.php?fetchData=true').
        success(function(data) {
            $scope.userLib = data;
            $scope.username = data.username;
            console.log(data);
        });
        app.run(function($rootScope) {
            $rootScope.username = $scope.username;
        });
        
        $scope.geturl = function(src){
            return 'https://www.youtube.com/embed/' + src;
        }
        
        $scope.submitLibForm = function(){
            $scope.error = false;
            $scope.success = false;
            $http({
                method  : 'POST',
                url     : 'ajax_calls.php',
                data    : $scope.library,
                headers : {'Content-Type': 'application/x-www-form-urldecoded'}
            })
            .success(function(data) {
                if(data.errors){
                    $scope.error = data.errors.error;
                }else{
                    $scope.success = data.success;
                    $scope.library.title = "";
                    $scope.library.youtubeurl = "";
                    $scope.library.stime = "";
                    $scope.library.etime = "";
                }
            });
        }
    });
    
    app.config(function($sceDelegateProvider) {
  $sceDelegateProvider.resourceUrlWhitelist([
    'self',
    'https://www.youtube.com/**'
  ]);
});
    
</script>