<!DOCTYPE html>
<html lang="en">
<head>
    <title>My Dashboard</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.25/angular.min.js"></script>
    <script src="js/ng-youtube-embed.min.js"></script>
    <style type="text/css">
        .container{
            margin-top: 40px;
        }
    </style>
</head>
<body ng-app="myApp" ng-controller="myCtrl" ng-init="vidList=true">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h3>My Library</h3>
                <button class="btn btn-primary" ng-click="playVideo()">Play video</button>
            </div>
            <div class="col-md-8">
                <div ng-show="vidList">
                    <table class="table">
                        <tr ng-repeat="x in userLib.userLib">
                            <td><a href="{{'https://www.youtube.com/watch?v=' + x.yt_url}}">{{'https://www.youtube.com/watch?v=' + x.yt_url}}</a></td>
                        </tr>
                    </table>
                </div>
                <div ng-show="playVid">
                    <h2>{{vidTitle}}</h2>
                    <ng-youtube-embed
                        video="video1"
                        enablejsapi="true"
                        videoid="stillEchoes"
                        onstatechange="stateChanged"
                        playlist="https://www.youtube.com/watch?v=-0KuJsC1VJU,https://www.youtube.com/watch?v=G0-S7AU7Jqo, https://www.youtube.com/watch?v=ZeuKPCWjLS8,https://www.youtube.com/watch?v=EY07yF5bCOo,https://www.youtube.com/watch?v=RtzGHlW5_OA,https://www.youtube.com/watch?v=bvB2kHRdcaI,https://www.youtube.com/watch?v=K_Q38a0rNoM"
                        start="start"
                        end="end"
                        width="100%">
                    </ng-youtube-embed>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
var myApp = angular.module('myApp', ['ngYoutubeEmbed']);

myApp.controller('myCtrl', ['$scope', '$http', 'ngYoutubeEmbedService',  function($scope, $http, ngYoutubeEmbedService){
    $http.get('ajax_calls.php?fetchData=true').
    success(function(data) {
        $scope.userLib = data;
        $scope.username = data.username;
        console.log(data);
        $scope.vidID = $scope.userLib.userLib[0].yt_url;
        $scope.video1 = 'https://www.youtube.com/watch?v=' + $scope.userLib.userLib[0].yt_url;
        $scope.vidTitle = $scope.userLib.userLib[0].title;
        $scope.start = $scope.userLib.userLib[0].start;
        $scope.end = $scope.userLib.userLib[0].end;
        $scope.allVids = "";
        for(i=0; i<$scope.userLib.userLib.length; i++){
            $scope.allVids = $scope.allVids + ',' + 'https://www.youtube.com/watch?v=' + $scope.userLib.userLib[i].yt_url;
        }
        var player = ngYoutubeEmbedService.getPlayerById('stillEchoes');
        player.cuePlaylist('https://www.youtube.com/watch?v=dulxbKkj9Wg,https://www.youtube.com/watch?v=lxgelwqe8-E');
    });
    
    $scope.playVideo = function() {
        var player = ngYoutubeEmbedService.getPlayerById('stillEchoes');
        $scope.vidList = false;
        $scope.playVid = true;
        player.playVideo();
    };

    $scope.showVideoInfo = function() {
        var player = ngYoutubeEmbedService.getPlayerById('stillEchoes');
        player.showVideoInfo();
    };

    $scope.stateChanged = function(e) {
        var player = ngYoutubeEmbedService.getPlayerById('stillEchoes');
        
        console.log(e);
        console.log(e.target.stopVideo);
    };
}]);
</script>