<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css"> 
    <script src= "http://ajax.googleapis.com/ajax/libs/angularjs/1.3.16/angular.min.js"></script> 
</head>
<body ng-app="postApp" ng-controller="postController">
    <div class="container">
        <div class="col-sm-6 col-sm-offset-3">
            <h1>Login</h1>
            <div class="alert alert-danger" ng-show="errorEmail">{{errorEmail}}</div>
            <div class="alert alert-danger" ng-show="errorPassword">{{errorPassword}}</div>
            <div class="alert alert-danger" ng-show="errorLogin">{{errorLogin}}</div>
            <form name="userForm" ng-submit="submitForm()">
                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" ng-model="user.email">
<!--                    <span ng-show="errorEmail">{{errorEmail}}</span>-->
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" name="password" class="form-control" ng-model="user.password">
<!--                    <span ng-show="errorUserName">{{errorPassword}}</span>-->
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
</body>
</html>
<script>
    var postApp = angular.module('postApp', []);
    postApp.controller('postController', function($scope, $http) {
        $scope.user = {};
        $scope.submitForm = function() {
            $http({
                method  : 'POST',
                url     : 'ajax_calls.php',
                data    : $scope.user,
                headers : {'Content-Type': 'application/x-www-form-urldecoded'} 
            })
            .success(function(data) {
                if(data.errors){
                    $scope.errorEmail = data.errors.email;
                    $scope.errorPassword = data.errors.password;
                    $scope.errorLogin = data.errors.login;
                }else{
                    $scope.message = data.message;
                    window.open('dashboard.html', '_self');
                }
            });
        };
    });
</script>